body{
background-color: #e2e8f0;
}

.like-button{
    margin-top: -30px;
    padding-bottom:5px;
}

.card-header{
margin-bottom:2px;
padding-bottom:0px;
}

.card-body{
padding-bottom: 0px;
padding-top: 1px;
}

.post-link{
padding-top:0px;
}

.jumbotron{
padding-bottom:15px;
padding-top:15px;
background-color: #fff;
 box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

