{% extends "base.html"%}

{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
      <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
{% endblock head %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="#">SaveOrShare</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('register') }}">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


    <div class="container">
      <div class="jumbotron">
            <form>
              <div class="form-group">
                <label>Link</label>
                <input class="form-control" placeholder="paste link">
              </div>
              <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" rows="2"></textarea>
              </div>
            </form>
          <button type="button" class="btn btn-primary btn-sm btn-block">Post</button>
      </div>
    </div> <!-- /container -->

<!-- post -->
   <div class="container">
        <div class="card text-white bg-dark mb-3" >
          <div class="card-header">
              <i class='bx bx-user text-right'></i>
              <small>Daniel</small>
              <div class="text-right like-button"><button type="button" class="btn btn-outline-primary btn-sm"><i class='bx bxs-heart bx-spin-hover'></i></button>
              </div>
          </div>
          <div class="card-body">
              <a target="_blank" href="https://docs.python.org/3/">docs.python.org</a>
              <p class="font-weight-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div style="overflow: hidden;">
                    <p style="float: left;"><small class="text-muted">0 Likes</small></p>
                    <p class="pl-2" style="float: left;"><small class="text-muted">0 Clicks</small></p>
                    <p style="float: right;"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>

          </div>
        </div>
    </div> <!-- /post -->

<!-- post -->
   <div class="container">
        <div class="card text-white bg-dark mb-3" >
          <div class="card-header">
              <i class='bx bx-user text-right'></i>
              <small>Daniel</small>
              <div class="text-right like-button"><button type="button" class="btn btn-outline-primary btn-sm"><i class='bx bxs-heart bx-spin-hover'></i></button>
              </div>
          </div>
          <div class="card-body">
              <a target="_blank" href="https://docs.python.org/3/">docs.python.org</a>
              <p class="font-weight-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div style="overflow: hidden;">
                    <p style="float: left;"><small class="text-muted">0 Likes</small></p>
                    <p style="float: right;"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>

          </div>
        </div>
    </div> <!-- /post -->
<!-- post -->
   <div class="container">
        <div class="card text-white bg-dark mb-3" >
          <div class="card-header">
              <i class='bx bx-user text-right'></i>
              <small>Daniel</small>
              <div class="text-right like-button"><button type="button" class="btn btn-outline-primary btn-sm"><i class='bx bxs-heart bx-spin-hover'></i></button>
              </div>
          </div>
          <div class="card-body">
              <a target="_blank" href="https://docs.python.org/3/">docs.python.org</a>
              <p class="font-weight-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div style="overflow: hidden;">
                    <p style="float: left;"><small class="text-muted">0 Likes</small></p>
                    <p style="float: right;"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>

          </div>
        </div>
    </div> <!-- /post -->
<!-- post -->
   <div class="container">
        <div class="card text-white bg-dark mb-3" >
          <div class="card-header">
              <i class='bx bx-user text-right'></i>
              <small>Daniel</small>
              <div class="text-right like-button"><button type="button" class="btn btn-outline-primary btn-sm"><i class='bx bxs-heart bx-spin-hover'></i></button>
              </div>
          </div>
          <div class="card-body">
              <a target="_blank" href="https://docs.python.org/3/">docs.python.org</a>
              <p class="font-weight-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div style="overflow: hidden;">
                    <p style="float: left;"><small class="text-muted">0 Likes</small></p>
                    <p style="float: right;"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>

          </div>
        </div>
    </div> <!-- /post -->
<!-- post -->
   <div class="container">
        <div class="card text-white bg-dark mb-3" >
          <div class="card-header">
              <i class='bx bx-user text-right'></i>
              <small>Daniel</small>
              <div class="text-right like-button"><button type="button" class="btn btn-outline-primary btn-sm"><i class='bx bxs-heart bx-spin-hover'></i></button>
              </div>
          </div>
          <div class="card-body">
              <a target="_blank" href="https://docs.python.org/3/">docs.python.org</a>
              <p class="font-weight-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div style="overflow: hidden;">
                    <p style="float: left;"><small class="text-muted">0 Likes</small></p>
                    <p style="float: right;"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>

          </div>
        </div>
    </div> <!-- /post -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>

{% endblock content %}